<div class="navbar navbar-fixed-top uncrd-topbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">UnCRD</a>
			<ul class="nav">
				<li><a href="#" data-uncrd="click:o('page1')">Страница со скролом</a></li>
				<li><a href="#" data-uncrd="click:o({name:'page2',param1:'value1',loading:'after-inside'})">Страница с асинхронной загрузкой</a></li>
				<li><a href="#" data-uncrd="click:o({modalWindow:{header:'Трямц',content:'Трямц'}})">Модальное окно без виджета</a></li>
			</ul>				
		</div>
	</div>
</div>