<p>Здесь - страничка о системе UnCrd.</p>
<p>Типа это распределенная мега система, которая живет поверх сайтов.</p>
<p>Дальше идет динамическая ссылка на регистрацию.</p>
<p>
	<a class="btn" href="#" data-uncrd="click:o({name:'registerForm',modalWindow:{header:'Регистрация из about'}})">Регистрация</a>
	<a class="btn" href="#" data-uncrd="click:switchToRegister">OLD</a>
	<a class="btn" href="#" data-uncrd="click:addContent">Добавить контента</a>
	<a class="btn" href="#" data-uncrd="click:remContent">Удалить контент</a>
</p>
<p data-uncrd="html:sampleContent"></p>

