<div class="row">
	<div class="span6">
		<div>Найдено контактов: <strong data-uncrd="text:usersCount"></strong></div>
	</div>
	<div class="span2">
		<form>
		    <div class="uncrd-loading-right" data-uncrd="visible:loading"><div class="uncrd-loading-small"></div></div>
			<label for="formData_q">Имя друга</label>
			<input type="text" class="span2" id="formData_q" name="formData[q]" data-uncrd="value:q">
			<label for="formData_city">Город</label>
			<select class="span2" id="formData_city" name="formData[place]" placeholder="Выбор города" data-uncrd="options:places,optionsCaption:'Выбор города',optionsText:placesOptionsText,value:selectedPlace"></select>
			<label for="formData_age_from">Возраст</label>
			<select class="span1" id="formData_age_from" name="formData[age_from]" placeholder="от" data-uncrd="value:ageFrom,options:ageFromValues"></select>
			<select class="span1" id="formData_age_to" name="formData[age_to]" placeholder="до" data-uncrd="value:ageTo,options:ageToValues"></select>
			<label>Пол</label>
			<label class="radio"><input type="radio" name="formData[sex]" value="0" data-uncrd="checked:sex">Любой</label>
			<label class="radio"><input type="radio" name="formData[sex]" value="1" data-uncrd="checked:sex">Мужской</label>
			<label class="radio"><input type="radio" name="formData[sex]" value="2" data-uncrd="checked:sex">Женский</label>
		</form>
	</div>
</div>