<form class="form-horizontal uncrd-form-fix" data-uncrd="submit:form.send">
    <fieldset>
        <legend>Основные данные</legend>
        <div class="control-group uncrd-control-group-fix">
            <label class="control-label" for="inputNick">Ник</label>
            <div class="controls">
                <input class="span2" id="inputNick" type="text" placeholder="Ник" data-uncrd="value:nick">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">ФИО</label>
            <div class="controls">
                <input class="span1_5" type="text" placeholder="Фамилия" data-uncrd="value:sirname">
                <input class="span1_5" type="text" placeholder="Имя" data-uncrd="value:name">
                <input class="span1_25" type="text" placeholder="Отчество" data-uncrd="value:secondname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Город</label>
            <div class="controls">
                <select class="span2" data-uncrd="options:countries,optionsText:'name',optionsValue:'id',value:country_id"></select>
                <select class="span2" data-uncrd="options:cities,optionsText:'name',optionsValue:'id',value:city_id"></select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Дата рождения</label>
            <div class="controls">
                <select class="span1 uncrd-select-day" data-uncrd="value:birthDay,options:birthDays,optionsCaption:'--'"></select>
                <select class="span1 uncrd-select-month" data-uncrd="value:birthMonth,options:birthMonths,optionsCaption:'----',optionsText:'name',optionsValue:'id'"></select>
                <select class="span1 uncrd-select-year" data-uncrd="value:birthYear,options:birthYears,optionsCaption:'----'"></select>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Контактные данные</legend>
        <!-- uncrd foreach: contacts -->
            <div class="control-group uncrd-control-group-fix">
                <label class="control-label" data-uncrd="text:title"></label>
                <div class="controls">
                    <input type="text" class="span3" data-uncrd="value:value">
                </div>
            </div>
        <!-- /uncrd -->
    </fieldset>
</form>