<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<!-- uncrd if: data -->
		<!-- uncrd if: isFriend -->
			<div><strong>Внимание!</strong></div>
			<div>Вы собираетесь убрать пользователя <span data-uncrd="text:data().name"></span> из списка ваших друзей.</div>
		<!-- /uncrd -->
		<!-- uncrd ifnot: isFriend -->
			<div>Вы собираетесь добавить пользователя <span data-uncrd="text:data().name"></span> в список ваших друзей.</div>
			<form data-uncrd="submit:form.send">
				<label for="messageForm">Вы можете представиться и оставить свое приветствие:</label>
				<textarea id="messageForm" class="input-block-level" data-uncrd="value:form.text,valueUpdate:'afterkeydown',executeOnEnter:form.send,attr:{placeholder:'Сообщение пользователю ' + data().name}"></textarea>
			</form>
		<!-- /uncrd -->
	<!-- /uncrd -->
<!-- /uncrd -->