<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<!-- uncrd if: friendsLimited().length == 0 -->
		<div class="uncrd-nofriendsThumbs">Друзей нет</div>
	<!-- /uncrd -->
	<!-- uncrd if: friendsLimited().length > 0 -->
	<ul class="uncrd-friendsThumbs clearfix" data-uncrd="foreach:{data:friendsLimited,as:'user'}">
		<li>
			<!-- uncrd widget:{name:'userAvatar',user:user,css:'uncrd-friendsThumb'} --><!-- /uncrd -->
		</li>
	</ul>
	<!-- /uncrd -->
<!-- /uncrd -->