<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Идет загрузка сообщений...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<div class="alert alert-info" data-uncrd="visible:preparedData().length==0">Друзей и сообщений не найдено</div>
	<div class="uncrd-messages-list" data-uncrd="foreach:preparedData">
		<div class="media">
			<!-- uncrd widget:{name:'userAvatar',user:$data.user,css:'pull-left'} --><!-- /uncrd -->
			<div class="media-body">
				<div><a href="#" data-uncrd="click:gotoUserProfile"><strong data-uncrd="text:$data.user.name"></strong></a></div>
				<!-- uncrd if: $data.post -->
					<div><a href="#" data-uncrd="click:gotoMessageRow,html:$data.post.textShort"></a></div>
					<div><small>
						<span data-uncrd="text:$data.post.printDateTime"></span>
						&nbsp;|&nbsp;
						<a href="#" data-uncrd="click:gotoMessageRow">ответить</a>
					</small></div>
				<!-- /uncrd -->
				<!-- uncrd ifnot: $data.post -->
					<div>Сообщений нет</div>
					<div><small>
						<a href="#" data-uncrd="click:gotoMessageRow">написать сообщение</a>
					</small></div>
				<!-- /uncrd -->
			</div>
		</div>
	</div>
<!-- /uncrd -->