<div>
	<div class="uncrd-loading-with-icon" data-uncrd="visible:loading">Идет загрузка сообщений...</div>
	<div data-uncrd="visible:!loading()">
		<div class="alert alert-info" data-uncrd="visible:preparedData().length==0">Сообщений нет</div>
		<div class="uncrd-messages-list" data-uncrd="foreach:{data:preparedData,afterAdd:hlRow}">
			<div class="media">
				<!-- uncrd widget:{name:'userAvatar',user:$data.user,css:'pull-left'} --><!-- /uncrd -->
				<div class="media-body">
					<div><a href="#" data-uncrd="click:gotoUserProfile"><strong data-uncrd="text:$data.user.name"></strong></a></div>
					<div data-uncrd="html:$data.text"></div>
					<div><small>
						<span data-uncrd="text:$data.printDateTime"></span>
					</small></div>
				</div>
			</div>
		</div>
		<h4>Новое сообщение</h4>
		<div class="media">
			<!-- uncrd if: user -->
				<!-- uncrd widget:{name:'userAvatar',user:user,css:'pull-left'} --><!-- /uncrd -->
			<!-- /uncrd -->
			<div class="media-body">
				<textarea class="input-block-level" data-uncrd="value:form.text,valueUpdate:'afterkeydown',executeOnEnter:form.send"></textarea>
				<span class="help-block">Нажмите CTRL+Enter чтобы отправить сообщение</span>
			</div>
		</div>
	</div>
</div>