<!-- uncrd if: core.user() -->
<a href="#" data-uncrd="click:core.open.bind($data,{name:'messages',loading:'before',windowName:'messages'})">Мои сообщения</a>
<!-- /uncrd -->
<span data-uncrd="visible:!form.loading()">
	<button class="btn btn-primary" data-uncrd="enable:form.text().length>0,click:form.send">Написать</button>
</span>
<span data-uncrd="visible:form.loading">
	<a class="btn disabled" href="#"><i class="uncrd-loading-i-icon"></i> Отправляем...</a>
	<button class="btn" data-uncrd="click:form.cancelSend">Отменить</button>
</span>
<button class="btn" data-uncrd="click:close">Закрыть</button>