<div class="modal uncrd-modal-fix" data-uncrd="style:position">
	<div class="modal-header" data-uncrd="event:{mousedown:dragStart}">
		<button type="button" class="close" data-uncrd="event:{click:destroy,mousedown:preventDrag}">×</button>
		<!-- uncrd if: headerWidget -->
			<h3 data-uncrd="widget:headerWidget"></h3>
		<!-- /uncrd -->
		<!-- uncrd ifnot: headerWidget -->
			<h3 data-uncrd="html:header"></h3>
		<!-- /uncrd -->
	</div>
	<!-- uncrd if: loading -->
		<div class="modal-body">
			<div class="uncrd-loading-with-icon">Загрузка...</div>
		</div>
	<!-- /uncrd -->
	<!-- uncrd if: page -->
		<div class="modal-body" data-uncrd="widget:pageWidgetBinding"></div>
	<!-- /uncrd -->
	<!-- uncrd ifnot: page -->
		<div class="modal-body" data-uncrd="html:content"></div>
	<!-- /uncrd -->
	<div class="modal-footer" data-uncrd="foreach:buttons">
		<button class="btn" data-uncrd="click:action.bind($parent),css:css,text:text"></button>
	</div>
</div>
