<!-- uncrd if: mode() == "default" -->
	<div class="clearfix">
		<div class="pull-left">
			<!-- uncrd text: photo().name || "Фото #" + photo().id --><!-- /uncrd -->
			<!-- uncrd if: context() == "album" -->
				<small>из альбома <a href="#" data-uncrd="text: contextName, click: openContext"></a></small>
			<!-- /uncrd -->
		</div>
		<div class="pull-right">
			<small>Фото <span data-uncrd="text:photo().n"></span> из <span data-uncrd="text:photosCnt"></span></small>
		</div>
	</div>
<!-- /uncrd -->
<!-- uncrd if: mode() == "context" -->
	<!-- uncrd text: contextName --><!-- /uncrd -->
	<!-- uncrd if: contextUser() -->
		<small>пользователя <a href="#" data-uncrd="text: contextUser().name, click: openUser"></a></small>
	<!-- /uncrd -->
<!-- /uncrd -->