<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<!-- uncrd if: mode() == "default" && photo() -->
		<div class="uncrd-photo-container">
			<!-- uncrd if: photoLoading -->
				<div class="modal-body">
					<div class="uncrd-loading-with-icon">Загрузка фото...</div>
				</div>
			<!-- /uncrd -->
			<!-- uncrd ifnot: photoLoading -->
				<a href="#" data-uncrd="click:photoClick"><img data-uncrd="attr:{src:photo().src_m2,alt:photo().name}"></a>
			<!-- /uncrd -->
		</div>
		<div class="row">
			<div class="span6">
				<!-- uncrd if: photo().commentsData.posts.length > 0 -->
					<h4>Комментарии</h4>
				<!-- /uncrd -->
				<!-- uncrd widget: {name:'stena',actions:{get:'getPhotoComments',create:'createPhotoComment',destroy:'destroyPhotoComment'},to_id:photoId(),data:photo().commentsData,modalWindow:modalWindow,unlimited:true,showHeader:false,to:0,addCommentHeader:'Ваш комментарий',allowDestroy:photo().my} --><!-- /uncrd -->
			</div>
			<div class="span2">
				<dl class="uncrd-dl-fix">
					<dt>Фото:</dt>
					<dd data-uncrd="text:photo().name||'#'+photo().id"></dd>
					<dt>Альбом:</dt>
					<dd>
						<a href="#" data-uncrd="text:photo().album||'Без названия',click:openContext"></a>
					</dd>
					<dt>Автор:</dt>
					<dd>
						<a href="#" data-uncrd="text:photo().user.name,click:core.open.bind($data,{name:'profile',id:photo().user.id,loading:'after'})"></a>
					</dd>
				</dl>
			</div>
		</div>
	<!-- /uncrd -->
	<!-- uncrd if: mode() == "context" -->
		<ul class="thumbnails" data-uncrd="foreach:{data:photos,as:'photo'},style:{height:photosHeight}">
			<li class="span2">
				<a class="thumbnail" data-uncrd="click:$parent.openPhotoFromContext.bind($data,photo.id)" href="#">
					<img class="uncrd-thumb-fix" data-uncrd="attr:{src:photo.src_clip5,alt:photo.name}" />
				</a>
			</li>
		</ul>
	<!-- /uncrd -->
<!-- /uncrd -->