<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<!-- uncrd if: user -->

		<div class="uncrd-window-fakeHeader clearfix">
			<div class="pull-left">
				<h3 data-uncrd="text:user().name"></h3>
			</div>
			<div class="pull-right muted uncrd-window-fakeHeader-right">
				<span data-uncrd="text:user().ageString + (user().sex==1?', мужчина':(user().sex==2?', девушка':''))"></span>
			</div>
		</div>

		<div class="row">
			<div class="span2">
				<!-- uncrd widget:{name:'userAvatar',user:user,type:'middle'} --><!-- /uncrd -->
				<ul class="uncrd-profile-menu">
					<!-- uncrd if: my -->
						<li>
							<a href="#" data-uncrd="click:switchProfileSubmenu">Редактировать профиль</a>
							<ul class="uncrd-profile-submenu" data-uncrd="visible:profileSubmenuVisible">
								<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'editProfile',loading:'after-inside',windowName:'editProfile'})">Основная информация</a></li>
								<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'editAvatar',loading:'after-inside',windowName:'editProfile'})">Изменить аватар</a></li>
								<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'editPassword',loading:'after-inside',windowName:'editProfile'})">Изменить пароль</a></li>
							</ul>
						</li>
						<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'userlist',loading:'after-inside',windowName:'userlist'})">Мои друзья</a></li>
						<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'messages',loading:'after-inside',windowName:'messages'})">Мои сообщения</a></li>
						<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'news',loading:'after-inside'})">Мои новости</a></li>
						<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'fav',loading:'after-inside'})">Мое избранное</a></li>
						<li><a href="#" data-uncrd="click:core.auth.signout">Выход</a></li>
					<!-- /uncrd -->
					<!-- uncrd ifnot: my -->
						<li><a href="#" data-uncrd="click:core.open.bind($data,{name:'messageForm',to_id:user().id,data:user(),loading:'after-inside',windowName:'messages'})">Отправить сообщение</a></li>
						<li data-uncrd="widget:{name:'manageFriendControl',to_id:user().id,data:user(),loading:'after-inside'}"></li>
					<!-- /uncrd -->
				</ul>
				<div class="uncrd-header-with-bg uncrd-header-with-bg-small"><a href="#" data-uncrd="click:core.open.bind($data,{name:'userlist',to_id:to_id,loading:'after-inside',windowName:'userlist'})"><strong>Друзья</strong></a></div>
				<!-- uncrd widget: {name:'friends',to_type:to_type,to_id:to_id,data:friendsData,modalWindow:modalWindow,open:open,template:'friendsThumbs'} --><!-- /uncrd -->
			</div>
			<div class="span6">
				<!-- uncrd widget:"registerTop" --><!-- /uncrd -->
				<!--
				<div class="clearfix">
					<div class="uncrd-linklike pull-left"><strong data-uncrd="text:user().name"></strong></div>
					<div class="pull-right muted" data-uncrd="text:user().ageString"></div>
				</div>
				-->
				<div class="clearfix" data-uncrd="widget:{name:'userStatus',user:user}"></div>
				<hr class="uncrd-hr-fix" />
				<div class="uncrd-block">
					<dl class="dl-horizontal uncrd-dl-fix">
						<dt>День рождения:</dt>
						<dd data-uncrd="text:user().birthPrint"></dd>
						<dt>Город:</dt>
						<dd data-uncrd="text:geoText"></dd>
					</dl>
					<!-- uncrd ifnot: fullInfo -->
						<div class="uncrd-profile-more"><a href="#" data-uncrd="click:showFullInfo">Показать подробную информацию</a></div>
					<!-- /uncrd -->
					<!-- uncrd if: fullInfo -->
						<div class="uncrd-profile-more"><a href="#" data-uncrd="click:hideFullInfo">Скрыть подробную информацию</a></div>
						<!-- uncrd if: user().contacts -->
							<div class="uncrd-header">Контактная информация</div>
							<div class="uncrd-block">
								<dl class="dl-horizontal uncrd-dl-fix" data-uncrd="foreach:user().contacts">
									<!-- uncrd if: value -->
										<dt data-uncrd="text:title"></dt>
										<dd data-uncrd="text:value"></dd>
									<!-- /uncrd -->
								</dl>
							</div>
						<!-- /uncrd -->
						<!-- uncrd foreach: user().anket -->
							<!-- uncrd if: is_filled > 0 -->
								<div class="uncrd-header" data-uncrd="text:name"></div>
								<div class="uncrd-block">
									<dl class="dl-horizontal uncrd-dl-fix" data-uncrd="foreach:data">
										<!-- uncrd if: answerText && answerText.length > 0 -->
											<dt data-uncrd="text:$data.name"></dt>
											<dd data-uncrd="text:$data.answerText"></dd>
										<!-- /uncrd -->
									</dl>
								</div>
							<!-- /uncrd -->
						<!-- /uncrd -->
					<!-- /uncrd -->
				</div>
				<!-- uncrd widget: {name:'albums',to_type:to_type,to_id:to_id,data:albumsData,header:albumsHeader,modalWindow:modalWindow} --><!-- /uncrd -->
				<!-- uncrd widget: {name:'stena',to_type:to_type,to_id:to_id,data:stenaData,header:stenaHeader,modalWindow:modalWindow,order:'desc',showNoMessagesAlert:true,allowDestroy:my} --><!-- /uncrd -->
				<!-- uncrd widget: {name:'blogs',to_type:to_type,to_id:to_id,data:blogsData,header:blogsHeader,modalWindow:modalWindow,order:'desc',showNoMessagesAlert:true} --><!-- /uncrd -->
			</div>
		</div>
	<!-- /uncrd -->
<!-- /uncrd -->

