<div class="uncrd-registerTop clearfix" data-uncrd="visible:!core.user()">
	<div class="uncrd-text">
		Чтобы смотреть полные анкеты, большие фотографии, знакомится, комментировать и общаться, необходимо зарегистрироваться. Зарегистрированный пользователь имеет массу возможностей: неограниченное место для хранения фотографий в оригинальном качестве, удобная и быстрая загрузка фото, советы и отзывы профессиональных фотографов.
	</div>
	<a class="btn btn-large btn-primary" href="#" data-uncrd="click:o({name:'loginRegister',windowName:'auth'})">Регистрация</a>
</div>
