<!-- uncrd if: showHeader -->
	<div class="uncrd-header clearfix">
		<div class="pull-left">
			<a href="#" data-uncrd="css:{visible:!unlimited(),'icon-uncrd-arrow-right':showEnabled(),'icon-uncrd-arrow-down':!showEnabled()},click:showSwitch"></a>
			<strong class="uncrd-header-text">Стена <span data-uncrd="text:header"></span></strong>
		</div>
		<div class="pull-right">
			<a href="#" data-uncrd="click:showMore,visible:showEnabled">Показать стену</a>
			<a href="#" data-uncrd="click:form.move.bind($data,0),visible:form.to()==null">Написать</a>
			<a href="#" data-uncrd="click:form.reinitialize,visible:form.to()!=null">Отмена</a>
		</div>
	</div>
<!-- /uncrd -->
<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->
	<div class="uncrd-block" data-uncrd="visible:order()=='desc' && form.to()==0">
		<!-- uncrd if: addCommentHeader().length > 0 -->
			<h4 data-uncrd="text:addCommentHeader"></h4>
		<!-- /uncrd -->
		<form data-uncrd="submit:form.send">
			<textarea class="input-block-level" data-uncrd="value:form.text,valueUpdate:'afterkeydown',executeOnEnter:form.send"></textarea>
			<span data-uncrd="visible:!form.loading()">
				<button type="submit" class="btn" data-uncrd="enable:form.text().length>0">Написать</button>
				<button class="btn" data-uncrd="click:form.reinitialize,visible:to()==null">Отмена</button>
			</span>
			<span data-uncrd="visible:form.loading">
				<a class="btn disabled" href="#"><i class="uncrd-loading-i-icon"></i> Отправляем...</a>
				<button class="btn" data-uncrd="click:form.cancelSend">Отменить</button>
			</span>
		</form>
	</div>
	<div class="uncrd-block alert alert-info" data-uncrd="visible:showNoMessagesAlert() && stena().length==0">Сообщений не найдено</div>
	<div class="uncrd-block" data-uncrd="template:{name:'stenaEntry',foreach:stenaLimited,as:'stena'}"></div>
	<div class="uncrd-block" data-uncrd="visible:order()=='' && form.to()==0">
		<!-- uncrd if: addCommentHeader().length > 0 -->
			<h4 data-uncrd="text:addCommentHeader"></h4>
		<!-- /uncrd -->
		<form data-uncrd="submit:form.send">
			<textarea class="input-block-level" data-uncrd="value:form.text,valueUpdate:'afterkeydown',executeOnEnter:form.send"></textarea>
			<span data-uncrd="visible:!form.loading()">
				<button type="submit" class="btn" data-uncrd="enable:form.text().length>0">Написать</button>
				<button class="btn" data-uncrd="click:form.reinitialize,visible:to()==null">Отмена</button>
			</span>
			<span data-uncrd="visible:form.loading">
				<a class="btn disabled" href="#"><i class="uncrd-loading-i-icon"></i> Отправляем...</a>
				<button class="btn" data-uncrd="click:form.cancelSend">Отменить</button>
			</span>
		</form>
	</div>
	<div class="uncrd-profile-more-group" data-uncrd="visible:!unlimited() && (showMoreEnabled() || showLessEnabled())">
		<a class="uncrd-profile-more-white" href="#" data-uncrd="click:showAll,visible:showMoreEnabled">Показать все</a>
		<a href="#" data-uncrd="click:showMore,visible:showMoreEnabled">Показать еще</a>
		<a href="#" data-uncrd="click:showLess,visible:showLessEnabled">Свернуть</a>
		<a class="uncrd-profile-more-white" href="#" data-uncrd="click:showNone,visible:showLessEnabled">Свернуть все</a>
	</div>
<!-- /uncrd -->

<script type="text/template" id="stenaEntry">
	<div class="media">
		<!-- uncrd widget:{name:'userAvatar',user:stena.user,css:'pull-left',open:open} --><!-- /uncrd -->
		<div class="media-body">
			<div><a href="#" data-uncrd="click:gotoUserProfile"><strong data-uncrd="text:stena.user.name"></strong></a></div>
			<div data-uncrd="html:stena.text"></div>
			<div><small>
				<span data-uncrd="text:stena.printDateTime"></span>
				&nbsp;|&nbsp;
				<a href="#" data-uncrd="click:stena.form.move">ответить</a>
			</small></div>
			<form data-uncrd="submit:stena.form.send,visible:stena.form.to()==stena.id">
				<textarea class="input-block-level" data-uncrd="value:stena.form.text,valueUpdate:'afterkeydown',executeOnEnter:stena.form.send"></textarea>
				<span data-uncrd="visible:!stena.form.loading()">
					<button type="submit" class="btn" data-uncrd="enable:stena.form.text().length>0">Ответить</button>
					<button class="btn" data-uncrd="click:stena.form.reinitialize">Отмена</button>
				</span>
				<span data-uncrd="visible:stena.form.loading">
					<a class="btn disabled" href="#"><i class="uncrd-loading-i-icon"></i> Отправляем...</a>
					<button class="btn" data-uncrd="click:stena.form.cancelSend">Отменить</button>
				</span>
			</form>
			<!-- uncrd template:{name:"stenaEntry",foreach:stena.children,as:'stena'} --><!-- /uncrd -->
		</div>
	</div>
</script>