<!-- uncrd if: loading -->
	<div class="uncrd-loading-with-icon">Загрузка...</div>
<!-- /uncrd -->
<!-- uncrd ifnot: loading -->	
	<div class="row">
		<div class="span5">
			<div class="uncrd-header clearfix">
				<div class="pull-left">
					<strong class="uncrd-header-text" data-uncrd="text:headerUser"></strong>
				</div>
				<div class="pull-right">
					<strong class="uncrd-header-text" data-uncrd="text:headerCnt"></strong>
				</div>
			</div>
			<div class="uncrd-block">
				<div class="uncrd-users-list">
					<!-- uncrd if: total() == 0 -->
						<div class="alert alert-info">Пользователей не найдено</div>
					<!-- /uncrd -->
					<!-- uncrd foreach: dataLimited -->
						<div class="media uncrd-invisible-actions uncrd-bg-on-hover">
							<!-- uncrd widget:{name:"userAvatar",user:$data,css:"pull-left",type:"small"} --><!-- /uncrd -->
							<div class="pull-right span2">
								<!-- uncrd if: my -->
									<div><a class="uncrd-ia" href="#" data-uncrd="click:gotoUserProfile">Мой профиль</a></div>
									<div><a class="uncrd-ia" href="#" data-uncrd="click:gotoUserFriends">Мои друзья</a></div>
								<!-- /uncrd -->
								<!-- uncrd ifnot: my -->
									<div><a class="uncrd-ia" href="#" data-uncrd="click:core.open.bind($data,{name:'messageForm',to_id:id,data:$data,loading:'before',windowName:'messages'})">Отправить сообщение</a></div>
									<div data-uncrd="widget:{name:'manageFriendControl',to_id:id,data:$data,loading:'before',css:'uncrd-ia'}"></div>
									<div><a class="uncrd-ia" href="#" data-uncrd="click:gotoUserFriends">Просмотреть друзей</a></div>
								<!-- /uncrd -->
							</div>
							<div class="uncrd-limited">
								<a href="#" data-uncrd="click:gotoUserProfile"><strong data-uncrd="text:name"></strong></a>
							</div>
							<!-- uncrd if: status && status.length > 0 -->
								<div class="uncrd-limited muted" data-uncrd="text:status"></div>
							<!-- /uncrd -->
							<!-- uncrd if: text.length > 0 -->
								<div class="uncrd-limited" data-uncrd="text:text"></div>
							<!-- /uncrd -->
						</div>
					<!-- /uncrd -->
					<div class="uncrd-profile-more-group" data-uncrd="visible:showMoreEnabled">
						<a href="#" data-uncrd="click:showMore,visible:showMoreEnabled">Показать еще</a>
					</div>
				</div>
			</div>
		</div>
		<div class="span2">
			<div class="uncrd-header clearfix"><strong>Фильтр</strong></div>
			<div class="uncrd-block">
				<form>
					<label for="filterName">Имя друга</label>
					<input id="filterName" type="text" class="input-block-level" data-uncrd="value:filter.name,valueUpdate:'afterkeydown'">
					<label for="filterCity">Город</label>
					<input id="filterCity" type="text" class="input-block-level" data-uncrd="value:filter.city,valueUpdate:'afterkeydown'">
					<label for="filterAgeFrom">Возраст</label>
					<select class="span1" id="filterAgeFrom" placeholder="от" data-uncrd="value:filter.ageFrom,options:filter.ageFromValues"></select>
					<select class="span1" id="filterAgeTo" placeholder="до" data-uncrd="value:filter.ageTo,options:filter.ageToValues"></select>
					<label>Пол</label>
					<label class="radio"><input type="radio" value="0" data-uncrd="checked:filter.sex">Любой</label>
					<label class="radio"><input type="radio" value="1" data-uncrd="checked:filter.sex">Мужской</label>
					<label class="radio"><input type="radio" value="2" data-uncrd="checked:filter.sex">Женский</label>
					<div class="pull-right" data-uncrd="visible:filter.resetEnabled"><a href="#" data-uncrd="click:filter.reset">Сбросить фильтр</a></div>
				</form>
			</div>
		</div>
	</div>
<!-- /uncrd -->