<!-- uncrd if: user -->
	<a href="#" data-uncrd="css:css,click:open.bind($data,{name:'profile',id:user.id,loading:'over'}),attr:{title:user.name}">
		<!-- uncrd if: user.photo_exist==1 -->
			<img class="media-object" data-uncrd="attr:{src:src,alt:user.name}" />
		<!-- /uncrd -->
		<!-- uncrd if: user.photo_exist!=1 -->
			<div class="uncrd-avatar-nophoto media-object" data-uncrd="css:{'uncrd-avatar-nophoto-1':user.sex!=2,'uncrd-avatar-nophoto-2':user.sex==2}"></div>
		<!-- /uncrd --> 
	</a>
<!-- /uncrd -->
<!-- uncrd ifnot: user -->
	<a href="#"><div class="uncrd-avatar-nophoto media-object uncrd-avatar-nophoto-1"></div></a>
<!-- /uncrd -->
